body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    scale: 50%; 
    rotate: -90deg;
}

div {
    display: flex;
    justify-content: center;
}

br {
    display: inline;
    flex-wrap: wrap;
}


p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#board {
    position: absolute;
    display: flex ;
    flex-flow:row wrap;
    align-items: center;
    justify-content: center;
    height: 750px;
    width: 850px;
    background-color: black;
    border-radius: 20%;
    transform: scale(95%);
}

.row {
    position: relative;
    display: flex;
    width: 100%;
}
.ocean {
    height: 105px;
    width: 105px;
    background-color: lightskyblue;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transform: rotate(90deg);
    top: -30px;
}
.forest {
    height: 105px;
    width: 105px;
    background-color: greenyellow;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transform: rotate(90deg);
}
.country {
    height: 105px;
    width: 105px;
    background-color: green;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transform: rotate(90deg);
}
.mountain {
    height: 105px;
    width: 105px;
    background-color: gray;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transform: rotate(90deg);
}
.farm {
    height: 105px;
    width: 105px;
    background-color: yellow;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transform: rotate(90deg);
}
.mining {
    height: 105px;
    width: 105px;
    background-color: orange;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transform: rotate(90deg);
}
.desert {
    height: 105px;
    width: 105px;
    background-color: burlywood;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transform: rotate(90deg);
}

button {
    position: absolute;
    right: 600px;
    top: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(151, 124, 124);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}button:hover{
    box-shadow: inset -2px -2px 6px rgba(0, 0, 0, 0.668);
    cursor: pointer;
}


#player_bar {
    position: absolute;
    display: grid;
    height: 100%;
    width: 550px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.425);
}
#player_1, #player_2, #player_3, #player_4 {
    display: flex;
    height: 150px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.525);
    margin-top: 25px;
    align-items: center;
    justify-content: left;
}
#p_header {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 20px;
    text-align: center;
}
.itens {
    display: grid;
    margin-left: 10px;
}.itens > i {
    margin: 5px;
}
.player_cards {
    height: 125px;
    width: 300px;
    background-color: rgba(128, 128, 128, 0.543);
    margin-left: 15px;
}


#construct_bar {
    position: absolute;
    display: grid;
    height: 100%;
    width: 550px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.425);
}
#construct_bar > div {
    height: 150px;
    width: 500px;
    margin-top: 25px;
    background-color:rgba(255, 228, 196, 0.427);
    border: 3px solid black;
}
#construct_bar > div:hover {
    cursor: pointer;
    background-color: rgba(255, 228, 196, 0.68);
}
.icon {
    margin-left: -350px;
}
.recipe {
    position: absolute;
    left: 200px;
    margin-top: 75px;
}
.recipe > i {
    scale: 200%;
    margin-right: 40px;
}
